---
const { titulo, fechaInicio, fechaFin, entidad, descripcion } = Astro.props;
import { IoIosArrowDown } from "react-icons/io";

---

<script>
  const infoSection = document.querySelectorAll('#info-section');
  const acordions = document.querySelectorAll('#acordion-content');
  const arrow = document.querySelector('.arrow');

  let icon = document.createElement('img')
    arrow?.appendChild(icon);
    icon.src = '../../public/icons/down.svg'
    

  infoSection.forEach((infoSection, i) => {
    infoSection?.addEventListener('click', () => {
    const acordion = acordions[i]
    acordion?.classList.toggle('inactive');
    if (acordion.classList.contains("inactive")) {
      icon.src = '../../public/icons/down.svg'
    } else {
      icon.src = '../../public/icons/up.svg'
    }
  })
  })

</script>

<div id="info-section" class="text-black dark:text-white border-b pb-8 flex flex-col gap-8 mt-12 cursor-pointer  card-info-container">
  <div class="flex flex-col sm:flex-row justify-between xl:items-center">
    <h2 class="text-xl xl:text-4xl font-semibold ease-in duration-300 opacity-70">
      {titulo}
    </h2>
    <p class="text-lg mt-4 sm:m-1 opacity-50">{fechaInicio} - {fechaFin}</p>
  </div>
  <div class="flex justify-between">
    <p class="text-lg opacity-50">{entidad}</p>
    <p class="text-lg opacity-50 arrow">
    </p>
  </div>
  <div id="acordion-content" class="flex flex-col xl:flex-row justify-between overflow-hidden transition-all duration-300 inactive">
    <div>
          <div class="opacity-50">
            <p>{descripcion}</p>
          </div>
    </div>
  </div>
</div>
<style>
  .text-white:hover h2 {
  color: #FFFFFF; /* Cambia a tu color deseado */
  opacity: 1; /* Opcional, si quieres que sea completamente visible */
}



.inactive {
  display: none;
}

</style>