---
import { Image } from 'astro:assets';
import sunIcon from '../../public/icons/sun-icon.svg'

let date = new Date();
let hours = date.getHours();
let minutes = date.getMinutes();
console.log(`${hours}: ${minutes}`);
const horaDoce = hours % 12 || 12; 
const minutosFormateados = minutes.toString().padStart(2, "0");

const periodo = hours > 12 ? "PM" : "AM";
---

<div class="m-auto flex xl:justify-end text-black dark:text-white xl:text-xl xl:pt-4">
    <div class="flex gap-4 items-center">
        <p class="border-r px-4 hidden sm:block">Bogota, Colombia</p>
        <div class="hidden sm:flex gap-2 items-center">
            <Image src={sunIcon} alt="Icono de sol"/>
            <p>{horaDoce}: {minutosFormateados} {periodo}</p>
        </div>
        
        <div class="py-2 px-4 border dark:border-white rounded-3xl flex items-center gap-2">
            <span class="point">&nbsp</span>
            <p>Open to wrok</p>
        </div>
        
    </div>
</div>
<style>
    .point {
        position: relative;
    box-sizing: content-box;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: #2ced5c;
    }

    .point::after {
        content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: pulse  2s infinite;
    border-radius: 50%;
    box-shadow: #81db96;
    }

    @keyframes pulse {
        animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: Header_pulsate___tW0V;
    animation-timeline: auto;
    animation-range-start: normal;

    }
</style>